/* /* ul{
    float: right;
  display: flex;
  width: 40%;
  align-items: end;
  flex-direction: row;
  justify-content: right;
    background-color:blue;
    border: 200px; */

/*  */
/* } */
ul li {
  list-style: none;
  display: inline-block;
  margin-right: 40px;
  background-color: rgba(2, 2, 15, 0.034);
}

nav ul {
  float: right;
  background-color: rgb(3, 3, 17);
  border: 2px solid rgb(247, 240, 248);
  color: rgb(221, 207, 221);
  width: 100%;
  text-align: end;
}
h1 {
  color: rgb(14, 12, 12);
  font-size: 20px;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  width: 500%;
  justify-content: center;
  padding: left;
  float: left;
}
